<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sliding Hover Transition</title>
  <link href="style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  
  <!-- Montserrat Sans -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400, 700' rel='stylesheet' type='text/css'>        
  
</head>

<body>
  <div class="container">
    <a href="http://webdesigncrowd.com" class="btn"><span class="title">WebDesignCrowd</span></a>
    <a href="http://www.webdesigncrowd.com/sliding-hover-transition/" class="btn"><span class="title">Back to Article</span></a>
    <h1>Sliding Hover Transition</h1>
    
    <div class="wrapper">
      <a class="link" href="http://www.sintel.org/"></a>
      <div class="overlay">
        <div class="arrow-left"></div>
        <div class="rectangle"></div>
      </div>

      <div class="description">
        <h3>Project</h3>
        <p>Sintel is a short computer animated film by the Blender Institute, part of the Blender Foundation. See more at Sintel.org</p>
      </div>
      <img src="sintel-bamboo.jpg">
    </div>

  </div>

</body>
</html>
