<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Cube Rotate Menu Link</title>
  <link href="style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  
  <!-- Montserrat Sans -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400, 700' rel='stylesheet' type='text/css'>        
  
</head>

<body>
  <div class="container">
    <div class="navbar">
      <a class="menu" href="#"><i class="icon-align-justify"></i></a>
      <a class="link" href="#">
        <span class="active"><span class="valign"><span class="vertical">HOVER</span></span></span>
        <span class="hover"><span class="valign"><span class="vertical">HOVER</span></span></span>
      </a>
      <a class="link" href="#">
        <span class="active"><span class="valign"><span class="vertical">HOVER</span></span></span>
        <span class="hover"><span class="valign"><span class="vertical">HOVER</span></span></span>
      </a>
      <a class="link" href="#">
        <span class="active"><span class="valign"><span class="vertical">HOVER</span></span></span>
        <span class="hover"><span class="valign"><span class="vertical">HOVER</span></span></span>
      </a>
    </div>
    <br />
    <a href="http://webdesigncrowd.com" class="btn">WebDesignCrowd</a>
    <a href="http://www.webdesigncrowd.com/3d-cube-rotate-menu/" class="btn">Back to Article</a>
    <h1>Cube 3D Rotate Menu Link</h1>
    
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/animation.js"></script>
</body>
</html>
