
body {
  background:#34495e;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color:#bdc3c7;
  text-align:center;
  margin:40px 0;
  font-size:28px;
}

.center {
  display:block;
  margin:auto;
  width:500px;
  position:relative;
}

.bouton1 {
  width:200px;
  height:200px;
  border-radius:50%;
  background:#bdc3c7;
  position:absolute;
  top:110px;
  left:152px;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}

.bouton1:hover {
  background:#ecf0f1;
}

.bouton_echelon_1 {
  width:160px;
  height:160px;
  border-radius:50%;
  position:absolute;
  top:20px;
  left:20px;
  z-index:-1;
  -webkit-transition:all .3s .6s ease;
  transition:all .3s .6s ease;
}

.bouton1_1 {
  background:#c0392b;
}

.bouton1_1:hover {
  background:#e74c3c;
   -webkit-transition:all .3s .0s ease;
  transition:all .3s .0s ease;
}

.bouton1:hover .bouton1_1 {
  top:-90px;
  left:-90px;
   -webkit-transition:all .3s .0s ease;
  transition:all .3s .0s ease;
}

.bouton1_2 {
  background:#2980b9;
}

.bouton1_2:hover {
  background:#3498db;
   -webkit-transition:all .3s .0s ease;
  transition:all .3s .0s ease;
}

.bouton1:hover .bouton1_2 {
  top:-90px;
  left:120px;
   -webkit-transition:all .3s .0s ease;
  transition:all .3s .0s ease;
}

.bouton1_3 {
  background:#16a085;
}

.bouton1_3:hover {
  background:#1abc9c;
   -webkit-transition:all .3s .0s ease;
  transition:all .3s .0s ease;
}

.bouton1:hover .bouton1_3 {
  top:120px;
  left:-90px;
   -webkit-transition:all .3s .0s ease;
  transition:all .3s .0s ease;
}

.bouton1_4 {
  background:#f39c12;
}

.bouton1_4:hover {
  background:#f1c40f;
   -webkit-transition:all .3s .0s ease;
  transition:all .3s .0s ease;
}

.bouton1:hover .bouton1_4 {
  top:120px;
  left:120px;
   -webkit-transition:all .3s .0s ease;
  transition:all .3s .0s ease;
}

.bouton_echelon_2 {
  width:100px;
  height:100px;
  border-radius:50%;
  position:absolute;
  top:30px;
  left:30px;
  -webkit-transition:all .3s .0s ease;
  transition:all .3s .0s ease;
  -webkit-transform:scale(0,0);
  transform:scale(0,0);
  
}

.bouton1_1_1 {
  background:#c0392b;
  border:2px solid #d62c1a;
}

.bouton1_1:hover .bouton1_1_1 {
  top:-40px;
  left:-40px;
  background:#e74c3c;
  transform:scale(1,1);
}

.bouton1_1_1:hover {
  background:#d62c1a!important;
}

.bouton1_1_2 {
  background:#c0392b;
  border:2px solid #d62c1a;
}

.bouton1_1:hover .bouton1_1_2 {
  top:-40px;
  left:90px;
  background:#e74c3c;
  transform:scale(1,1);
}

.bouton1_1_2:hover {
  background:#d62c1a!important;
}

.bouton1_1_3 {
  background:#c0392b;
  border:2px solid #d62c1a;
}

.bouton1_1:hover .bouton1_1_3 {
  top:90px;
  left:-40px;
  background:#e74c3c;
  transform:scale(1,1);
}

.bouton1_1_3:hover {
  background:#d62c1a!important;
}

.bouton1_2_1 {
  background:#3498db;
  border:2px solid #2980b9;
}

.bouton1_2:hover .bouton1_2_1 {
  top:-40px;
  left:-40px;
  background:#3498db;
  transform:scale(1,1);
}

.bouton1_2_1:hover {
  background:#2980b9!important;
}

.bouton1_2_2 {
  background:#3498db;
  border:2px solid #2980b9;
}

.bouton1_2:hover .bouton1_2_2 {
  top:90px;
  left:90px;
  background:#3498db;
  transform:scale(1,1);
}

.bouton1_2_2:hover {
  background:#2980b9!important;
}